/*VARIABLES*/
/*GENERALES*/
.container-fluid {
  padding: 0%;}

.row {
  margin: 0%;
  padding: 0%;}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

h1{
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  margin-top: 10px;
  background-color: #d4ebf2;
  margin: 0%;
}

/*PRINCIPAL*/

.logo {
  width:100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/pattern.jpg");
  background-size: 100%;
  text-align: center;
  }

.menuUno {
  background-color:#f9bebc; }

.menuUno ul li:hover .menuDesplegable {
    display: block; 
}

.menuUno ul .menuDesplegable {
    display: none;
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: black; 
}

.menuSecciones {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}


.title {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;}

.comprarFacil {
  background-color:#d4ebf2; }

.tituloComprar {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 15px; }

.pasos{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

.fa-copy{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:pink ;
  border-radius: 50px;
}

.fa-comment{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
}

.botonesMarcas{
  font-family:"Raleway", sans-serif; 
  text-decoration: none;
  color: white;
  font-size: 15p;
  padding: 8px;
}

.btn-info{
  background-color: pink;
  border-color: white;}

.card{
  text-align:   center;
  margin-bottom: 10%;
}

@media only screen and (min-width: 1240px){
  .card-img-top{ width: 50%;
    margin-left: 25%;}
  
  .card{
  margin: 10%;
  }

  .img-fluid2{
   width:0%;
  }

 .botonFrec{
  padding-left: 40%;
  padding-right: 40%;}

}

.card-title{
  font-family: "Raleway", sans-serif;
}

.pasos li {
  padding-bottom: 20px; }

.pasos{
  padding: 0%;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/*PREGUNTAS FRECUENTES*/
.preguntasFrec {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 20px;
  color: black; }
  .preguntasFrec:hover .respuestas {
    display: block; }
  .preguntasFrec .respuestas {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: black;
    display: none; }

.fa-question-circle{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.asesoramiento{
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  text-decoration: none;  
  color: black;  
}

/*QUIEN SOY*/

.textoQuienSoy {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding: 10px; 
  text-align: center;
}

.maquillajesContainer {
  padding: 0%; }

.maquillajesContainer img {
    padding: 0%;
    max-width: 100%; }

.fa-female{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
  text-align: center;
  margin-left: 40%;
}

.fa-briefcase{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
  text-align: center;
  margin-left: 40%;
}



/*SERVICIOS*/
.fotosservicio{
  width: 100%;
}

.fa-paint-brush{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
  text-align: center;
}

.fa-bookmark{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: pink;
  border-radius: 50px;
  text-align: center;
}

.textoSecciones{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding: 10px; 
  text-align: center;
}

/*METODOS*/

.fa-box-open{
  background-color: white;
  width: 80px;
  padding: 23px;
  font-size: 32px;
  color: pink;
  border-radius: 50px;
  text-align: center;
}

.fa-money-check{
  background-color: white;
  width: 80px;
  padding: 23px;
  font-size: 30px;
  color: pink;
  border-radius: 80px;
  text-align: center;
}

.textoMetodos{
  font-family:"Bebas Neue", cursive;
  font-size: 22px;
  margin-bottom: 10px;
}

.textoPago{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding-top: 10px;
  padding-bottom: 10px; 
  text-align: center;
}

.textoEnvio{
 font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding: 10px; 
  text-align: center;
}

/*FOOTER*/

footer {
  position: relative;
  bottom: 0; }

.footer-distributed {
  background-color: #f9bebc;
  width: 100%;
  text-align: left;
  font-family:"Raleway", sans-serif ;
  padding: 55px 50px;
  margin-top: 10px; }

.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
  width: 35%; }

.footer-distributed .footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2; }
      
.footer-distributed .footer-center p a {
color: black;
font-weight: bold;
text-decoration: none; }

.footer-distributed .footer-right {
display: inline-block;
vertical-align: top;
width: 20%; }

.footer-distributed h3 {
color: #ffffff;
font-family: "Bebas Neue", cursive;
font-size: 26px;
margin: 0; }

.footer-distributed h3:hover {
font-size: 30px;
transition: all .3s; }

.footer-distributed .footer-links {
margin: 20px 0 12px;
padding: 0; }

.footer-distributed .footer-links a {
display: inline-block;
line-height: 3px;
text-decoration: none;}
      
.footer-distributed .footer-links a:hover {
transition: all .3s; }

.footer-distributed .footer-company-name {
color: black;
font-size: 14px;
font-weight: normal;
margin: 0; }
  
.footer-distributed .footer-company-about {
line-height: 15px;
color:black;
font-size: 13px;
font-weight: normal;
margin: 0; }
    
.footer-distributed .footer-company-about:hover {
color:black
transition: all .3s;
font-size: 15px; }

.footer-distributed .footer-company-about span {
display: block;
color: black;
font-size: 14px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 5px; }

.footer-distributed .footer-icons {
margin-top: 25px; }

.footer-distributed .footer-icons a {
display: inline-block;
width: 25px;
height: 25px;
cursor: pointer;
color: #fc9d9d;
border-radius: 2px;
font-size: 20px;
text-align: center;
line-height: 10px;
margin-right: 3px;
margin-bottom: 5px; }
      
.footer-distributed .footer-icons a img {
width: 20px;
height: 20px;
margin-top: 15%; }