/*VARIABLES*/
/*GENERALES*/
.container-fluid {
  padding: 0%; }

.row {
  margin: 0%;
  padding: 0%;
  background-color: #d4ebf2;}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

h1{
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  margin-top: 10px;
  background-color: #d4ebf2;
  margin: 0%;
}

/*PRINCIPAL*/
.menuUno {
  background-color: #d4ebf2; }

.menuUno ul li:hover .menuDesplegable {
    display: block; }

.menuUno ul .menuDesplegable {
    display: none;
    text-decoration: none;
    color: purple;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: black; }

.menuSecciones {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-around; }

.title {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;}

.comprarFacil {
  background-color:#d4ebf2; }

.tituloComprar {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 15px; }

.pasos{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

.fa-copy{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:#d4ebf2 ;
  border-radius: 50px;
}

.fa-comment{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:#d4ebf2 ;
  border-radius: 50px;
}

.botonesMarcas{
  font-family:"Raleway", sans-serif; 
  text-decoration: none;
  color: white;
  font-size: 15px}

.btn-info{
  background-color: pink;
  border-color: white;
}

.colorMetodos1, .colorMetodos2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 35px; }

.preguntasFrecuentes {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 50px; }

.preguntasFrecuentes2{
  text-decoration: none;
  color: black;
  text-align: center;
  margin-left: 35px;
}

.logo {
  display: flex;
  justify-content: center;
  background-image: url("../img/pattern.jpg");
  background-size: 110%;
  }

.img-fluid{
  width: 85git%;
}

.fondoPrincipal {
  background-color: pink; }

.pasos li {
  padding-bottom: 20px; }

.pasos{
  padding: 0%;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/*PREGUNTAS FRECUENTES*/
.preguntasFrec {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 45px;
  color: black; }
  .preguntasFrec:hover .respuestas {
    display: block; }
  .preguntasFrec .respuestas {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: black;
    display: none; }

.preguntaMetodos {
  display: flex;
  flex-direction: column; }

.enviamePedido {
  font-family: "Raleway", sans-serif;
  font-size: 30px; }

.formulario {
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

.botonesForm {
  font-family: "Raleway", sans-serif;
  color: black;
  background-color: white;
  margin-top: 50px; }


.serviciosMaquillaje {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
 }


.serviciosCursos {
  font-family: "Raleway", sans-serif;
  font-size: 20px; 
}

.fondoservicios{
  background-color: lightblue;
}

#gridMetodos {
  display: grid;
  grid-template-areas: "envio pago"; }

.envio {
  grid-area: envio;
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

.pago {
  grid-area: pago;
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

.consulta {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center; }

/*QUIEN SOY*/
.textoQuiensoy {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color: lightblue;
  padding: 10px; }

.maquillajesContainer {
  padding: 0%; }
  .maquillajesContainer img {
    padding: 0%;
    max-width: 100%; }


/*SERVICIOS*/
.fotosservicio{
  width: 100%;
}
    