/*VARIABLES*/
/*GENERALES*/
.container-fluid {
  padding: 0%;}

.row {
  margin: 0%;
  padding: 0%;}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

h1{
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  margin-top: 10px;
  background-color: #d4ebf2;
  margin: 0%;}

.titleBanner{
  background-color:#d4ebf2;;
}

.titleBanner h1{
  font-family:"Bebas Neue", cursive;
  color: black;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px; 
  padding-right: 20px;
  text-align: right;

}
.contenedorIcono{
  padding-top: 15px;
  padding-bottom: 15px;}

.contenedorIconoServicios{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;}


/*PRINCIPAL*/

.logo {
  width:100%;
  display: flex;
  justify-content: center;
  background-image: url("../img/pattern.jpg");
  background-size: 100%;
  text-align: center;
  }

.menuUno {
  background-color:#f8c5c6; }


.menuSecciones {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}


.titleMarcas {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;}

.comprarFacil {
  background-color:#d4ebf2; 
  }

.tituloComprar {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  text-align: center;
  margin-top: 15px; }

.pasos{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
}

.fa-copy{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:#f8c5c6 ;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgb(214, 207, 207);
}

.fa-comment{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:#f8c5c6;
  border-radius: 50px;
  box-shadow: 2px 2px 3px rgb(214, 207, 207);
}

.botonesMarcas{
  font-family:"Raleway", sans-serif; 
  text-decoration: none;
  color: white;
  padding: 8px;
}

.botonesMarcas .btn-info{
  font-size: 20px;
}

.btn-info{
  background-color:#f8c5c6;
  border-color: white;}

.card{
  text-align:   center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 2px 2px 3px rgb(214, 207, 207);
}

.card-img-top{
  width: 90%;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 50px;
  padding-bottom: 10px;
}


.card-body{
  padding: 0px;
}

.card-title{
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
}

.pasos li {
  padding-bottom: 20px; }

.pasos{
  padding: 0%;}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/*PREGUNTAS FRECUENTES*/
.preguntasFrec {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-size: 20px;
  color: black; }
  .preguntasFrec:hover .respuestas {
    display: block; }
  .preguntasFrec .respuestas {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: black;
    display: none; }

.fa-question-circle{
  background-color: white;
  width: 80px;
  padding: 20px;
  font-size: 80px;
  color:#f8c5c6;
  border-radius: 50px;
  text-align: center;
}

.asesoramiento{
  margin-bottom: 45px;
  font-family: "Raleway", sans-serif;
  font-style: italic;
  text-decoration: none;  
  color: black;  
}

.margenAsesoramiento{
  margin-bottom: 45px;
}

/*QUIEN SOY*/
.quiensoy-bloque{
  margin-top: 25px;
  text-align: center;
}
.quiensoy-bloque img{
  border-radius: 5px;
  box-shadow: 2px 2px 3px #999;
  margin-top: 15px;
}

.textoQuienSoy {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding: 10px; 
  text-align: center;
  margin-bottom: 0%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #999; 
}

.fa-female{
  background-color: #f8c5c6;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:white;
  border-radius: 50px;
  text-align: center;
  margin-left: 40%;
}

.fa-briefcase{
  background-color: #f8c5c6;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:white ;
  border-radius: 50px;
  text-align: center;
  margin-left: 40%;
}

.quienSoyFoto{
  text-align: center;
  padding-top: 50px;
  background-color: #d4ebf2;
  padding-bottom: 0px;
}

 .quienSoyFoto img {
  position: relative;
  width: 200px;
  height: 200px;
  transition: all 0.5s;
  margin-bottom: 5%;
  box-shadow: 2px 2px 3px #999; 
  border-radius: 100px;}

  .quienSoyFoto img:hover {
    width: 210px;
    height: 210px; }


/*SERVICIOS*/

.fa-paint-brush{
  background-color:#f8c5c6;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color: white;
  border-radius: 50px;
  text-align: center;
}


.fa-bookmark{
  background-color:#f8c5c6;
  width: 80px;
  padding: 20px;
  font-size: 40px;
  color:white;
  border-radius: 50px;
  text-align: center;
}

.only-responsive {
  display: inherit; }

.only-desktop {
  display: none; }


.servicios-total {
  position: relative;
  margin-right:0%;
  margin-left: 0%;;
  padding-bottom: 5%;
  max-width: 100%; }

.servicios-totalQuiensoy {
  position: relative;
  margin-right:0%;
  margin-left: 0%;;
  padding-bottom: 5%;
  max-width: 100%; }

.servicios-bloque {
  padding-bottom: 0%;
  padding-top: 5%;
  display: inline-block;
  vertical-align: middle;}

  .servicios-bloque .productsContainer {
    padding: 0%;
    margin-top: 0%;
    width: 100%;
    height: 100%; }
  .servicios-bloque .productsContainer img {
    padding: 0%;
    max-width: 100%; }

.servicios-texto {
  background-color:#f8eff7;
  width: 100%;
  height: %;
  padding: 0%;
  margin-top: 5%;
  padding-bottom: 0%;
  padding-top: 2%;
  align-content: center;
  font-family: "Raleway", sans-serif;
      font-size: 15px;
      background-color:#d4ebf2;
      padding: 10px; 
      margin-bottom: 0%;
      border-radius: 10px;
      box-shadow: 2px 2px 3px #999;}
      
  .servicios-texto h2 {
    font-size: 30px;
    color: black;
    margin-top: 0px;
    font-family:"Bebas Neue", cursive;
    text-align: center; }
    .servicios-texto h2:hover {
      color: black;
      transition: all .3s;
      font-size: 26px; }
    
    


/*METODOS*/

.contenedorMetodos{
 padding-bottom: 20px;
}

.contenedorIconometodos{
  text-align: center;
  padding-top: 20px;
}
.fa-box-open{
  background-color: #f8c5c6;
  width: 80px;
  padding: 23px;
  font-size: 32px;
  color: white;
  border-radius: 50px;
  text-align: center;
}

.fa-money-check{
  background-color:#f8c5c6;
  width: 80px;
  padding: 23px;
  font-size: 30px;
  color:white;
  border-radius: 80px;
  text-align: center;
}

.textoMetodos{
  font-family:"Bebas Neue", cursive;
  font-size: 22px;
  margin-bottom: 10px;
}

.textoPago{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding-top: 10px;
  padding-bottom: 10px; 
  text-align: center;
}

.textoEnvio{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  background-color:#d4ebf2;
  padding: 10px; 
  text-align: center;
}


/*CATALOGOS*/

.title a{
font-family: "Bebas Neue", cursive;
font-size: 30px;
text-align: center;  
color: black;
text-decoration-color: black;
} 

.description{
font-family: "Raleway", sans-serif;
font-size: 15px;
}

.container {
  width: 100%;
  margin-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

 .icon-box:hover {
  transform: translateY(-5px);
  border-color: #f8c5c6;
}

.icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #fc9d9d;
}
.icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;}


/*FOOTER*/

.footer {
  position: relative;
  bottom: 0; }

.footer-left{
  margin-bottom: 10px;
}
.footer-distributed {
  background-color: #f9bebc;
  width: 100%;
  text-align: left;
  font-family:"Raleway", sans-serif ;
  padding: 55px 50px;
  margin-top: 10px; }

.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.footer-distributed .footer-center {
  display: inline-block;
  vertical-align: top;
  width: 35%; }

.footer-distributed .footer-center p {
  display: inline-block;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p span {
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2; }
      
.footer-distributed .footer-center p a {
color: black;
font-weight: bold;
text-decoration: none; }

.footer-distributed .footer-right {
display: inline-block;
vertical-align: top;
width: 20%; }

.footer-distributed h3 {
color: #ffffff;
font-family: "Bebas Neue", cursive;
font-size: 26px;
margin: 0; }

.footer-distributed h3:hover {
font-size: 30px;
transition: all .3s; }

.footer-distributed .footer-links {
margin: 20px 0 12px;
padding: 0; }

.footer-distributed .footer-links a {
display: inline-block;
line-height: 3px;
text-decoration: none;}
      
.footer-distributed .footer-links a:hover {
transition: all .3s; }

.footer-distributed .footer-company-name {
color: black;
font-size: 14px;
font-weight: normal;
margin: 0;}

.footer-distributed .footer-company-preguntas{ 
  color: black;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  margin: 0px;}
  
.footer-distributed .footer-company-preguntas:hover {
color:black
transition: all .3s;
font-size: 17px;}

.footer-distributed .footer-company-about {
line-height: 15px;
color:black;
font-size: 13px;
font-weight: normal;
margin: 0; }
    
.footer-distributed .footer-company-about:hover {
color:black
transition: all .3s;
font-size: 15px; }

.footer-distributed .footer-company-about span {
display: block;
color: black;
font-size: 14px;
font-weight: bold;
margin-top: 20px;
margin-bottom: 5px; }

.footer-distributed .footer-icons {
margin-top: 20px; }

.footer-distributed .footer-icons a {
display: inline-block;
width: 25px;
height: 25px;
cursor: pointer;
color: #fc9d9d;
border-radius: 2px;
font-size: 20px;
text-align: center;
line-height: 10px;
margin-right: 3px;
margin-bottom: 5px; }
      
.footer-distributed .footer-icons a img {
width: 20px;
height: 20px;
margin-top: 15%; }


/*MEDIA QUERYS*/

@media (min-width: 576px) and (max-width: 767px) {

/*Inicio*/
.card-img-top{
padding-top: 20px;
padding-left: 70px;
padding-bottom: 10px;}

/*servicios*/
.servicios-bloque .productsContainer{
padding-left:140px ;}

}

@media (min-width: 768px) and (max-width: 1199px) {

/*Inicio*/
.card1{
  margin-right:10px;
  margin-left:150px;
  margin-top: 60px;
  margin-bottom: 60px;}

.card2{
  margin-right:150px;
  margin-left:10px;
  margin-top: 60px;
  margin-bottom: 60px;}

.card-title{
font-size: 30px;}

.card-img-top{
width: 0%;}


.tituloComprar{
margin-top: 100px;
padding-top: 10px;
font-size: 50px;
background-color: white;
border-radius: 15px;
margin-left:28px;
margin-right:28px;
box-shadow: 2px 2px 3px rgb(214, 207, 207);}

.pasos1{
margin-top: 40px;
}

/*QuienSoy*/
.quiensoy-bloque img{
  width: 370px;}

.body{
  margin: 0; 
  text-align: center;}

.servicios-total{
  padding-left: 20px;
  padding-top: 50px;}

/*PreguntasFrec*/
.preguntasFrec{
  font-size: 30px;}

.textoSecciones{
 padding-right: 150px;
 padding-left: 150px;}

}


@media (min-width: 1200px) {

/*Inicio*/

.card1{
    margin-right:10px;
    margin-left:300px;
    margin-top: 90px;
    margin-bottom: 90px;}

.card2{
    margin-right:300px;
    margin-left:10px;
    margin-top: 90px;
    margin-bottom: 90px;}

.card-title{
  font-size: 40px;}

.card-img-top{
  width: 0%;}

.titleMarcas{
  font-size: 60px;
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: white;
  margin-left: 520px;
  margin-right: 520px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 3px rgb(214, 207, 207);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.tituloComprar{
  margin-top: 220px;
  padding-top: 10px;
  font-size: 70px;
  background-color: white;
  border-radius: 15px;
  margin-left:24px;
  margin-right:24px;
  box-shadow: 2px 2px 3px rgb(214, 207, 207);
  
}


.pasos{
 padding-top:20px ;
 font-size: 25px;

}

.fa-copy{
  font-size:80px ;
  width: 160px;
  padding: 40px;
  border-radius: 100px;
  margin-top: 60px;
}

.fa-comment{
  font-size:80px ;
  width: 160px;
  padding: 40px;
  border-radius: 100px;
}


/*Generales*/
.titleBanner h1{
  font-size: 50px;}

/*Servicios*/

.servicios-total{
  margin-left: 20px;
  padding-top: 40px;}

/*QuienSoy*/

  .servicios-totalQuiensoy{
   padding-left: 80px;
   padding-top: 20px;
   padding-bottom: 50px;
   margin-left: 170px;}
  
  .quiensoy-bloque img{
   width: 300px}

  .quiensoy-bloque{
    margin-right: 120px;
    padding-right: 80px;
    padding-top: 0px;}

/*PreguntasFrecuentes*/

.preguntasFrec{
 font-size: 36px ;
 margin-right: 25px;}

.preguntasFrec .respuestas {
  font-size: 20px;}

.textoSecciones{
  padding-right: 290px;
  padding-left: 290px;}

}